 /* CSS Custom */
 #sidebar {
    position: fixed;
    top: 0;
    right: -300px; /* Sembunyikan sidebar di luar layar */
    width: 300px;
    height: 100vh;
    background-color: #f8f9fa;
    transition: right 0.3s ease-in-out;
    z-index: 1050;
    box-shadow: -2px 0 5px rgba(0,0,0,0.1);
}

#sidebar.show {
    right: 0;
}

.sidebar-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    z-index: 1040;
    display: none;
}

.sidebar-overlay.show {
    display: block;
}